@font-face {
    font-family: new_;
    src: url(sansation_light.woff);
}


div.col-sm-4 {
  background-color: grey;
}
div.col-sm-4 img {
  border-radius: 50%;
  height: 5%;

}

div.container-fluid {
  text-align: center;
}

#headerBackGroundImage {
  background-image: url(../images/1.jpg);
}
