@font-face {
    font-family: hearderFont_;
    src: url(../fonts/OstrichSans-Black.otf);
}


div.col-sm-4 {
  background-color: none;
}
div.col-sm-4 img {
  border: 2px white solid;
  border-radius: 50%;
  height: 200px;
  width: 200px;
}


div.container-fluid {
  text-align: center;
}

#headerBackGroundImage {
  background-image: url(../images/background.png);
  background-size:contain;
  opacity: .5;
}

#blackeHeaders {
  font-family: headerFont;
  color: black;

}


#clear_rounded {
  border: 3px white solid;
}


#images_hover_grow img,
#images_hover_grow img:hover {
  border: 3px white solid;
  transition: all .2s ease-in-out;
  float:left
  border-radius:50%
}
